body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000;
    padding: 12px;
    display: flex;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
    margin: 0px 8px;
}

a:hover {
    color: lightblue;
}

.login-with-google-btn {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 10px;
    font-weight: 600;
    font-color: rgb(94, 94, 94);    
}