body {
    font-family: Heebo, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #282828;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #e5e5e5;
    width: 100%;
    align-items: center;
}

button {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 10px 20px ;
    margin-right: 0px;
    cursor: pointer;
    font-family: Heebo, sans-serif;
    font-size: 16px;
    color: #282828;
}

button:hover {
    background-color: #002cbe;
    color: #fff;  
}

a {
    color: #282828;
    text-decoration: none;
    margin: 0px 8px;
}

a:hover {
    color: #002cbe;
}

.login-with-google-btn {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    border-radius: 8px;
    font-weight: 600;
    font-color: rgb(94, 94, 94);

}

h1 {
    font-size: 20px;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.cpPage { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
    width: 400px;
    font-family: Heebo, sans-serif;
}

input:focus, textarea:focus {
    outline-color: #002cbe;
}

textarea {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
    width: 400px;
    height: 200px;
    font-family: Heebo, sans-serif;
}

.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 400px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 20px 40px;
    margin: 20px 20px;
}

.postHeader {
    
    flex-direction: column;
    align-items: center;
    width: 100vh;
   
}

.postTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.delete-post-btn {
    margin-top: 12px;
    padding: 6px;
    font-size: 12px;

}